<div class="well event-info">
    <div class="toolbar">
        <span
            class="glyphicon glyphicon-edit"
            data-toggle="modal"
            data-target="#myModal"
            ng-click="$ctrl.editEvent()">
        </span>
        <span class="glyphicon glyphicon-remove" ng-click="$ctrl.removeEvent()"></span>
    </div>
    <div class="event-info-wrapper">
        <p>
            <b>Title: </b>
            <span ng-bind="$ctrl.event.title"></span>
        </p>
        <p>
            <b>Description: </b>
            <span ng-bind="$ctrl.event.description"></span>
        </p>
        <p>
            <span><b>Time start:</b> </span>
            <span ng-bind="$ctrl.event.start_time | date : 'HH:mm'"></span>
        </p>
        <p>
            <span><b>Time end:</b> </span>
            <span ng-bind="$ctrl.event.end_time | date : 'HH:mm'"></span>
        </p>
    </div>
</div>