.event-info {
    font-size: 12px;
    position: absolute;
    width: 200px;
}

.event-info-wrapper {
    padding-top: 5px;
}

.toolbar {
    position: absolute;
    top: 4px;
    right: 5px;
    .glyphicon {
        cursor: pointer;
    }
}