<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Add new event</h4>
                <span ng-bind-template="({{$ctrl.checkedDay.day | date:'EEEE, MMMM d, y'}})"></span>
            </div>
            <div class="modal-body modal-body-custom">
                <form name="addTodoForm" class="add-event-form">
                    <div class="form-group form-group-custom">
                        <label>Title</label>
                        <input type="text" ng-model="$ctrl.newEvent.title" class="form-control" placeholder="Event" required>
                    </div>
                    <div class="form-group form-group-custom">
                        <label>Description</label>
                        <input type="text" ng-model="$ctrl.newEvent.description" class="form-control" placeholder="Description" required>
                    </div>
                    <div class="form-group form-group-custom">
                        <span>Start</span>
                        <input type="number" min="0" max="24" ng-model="$ctrl.newEvent.startHH" required>
                        <input type="number" min="0" max="59" ng-model="$ctrl.newEvent.startMM" required>
                    </div>
                    <div class="form-group form-group-custom">
                        <span>End</span>
                        <input type="number" min="0" max="24" ng-model="$ctrl.newEvent.endHH" required>
                        <input type="number" min="0" max="59" ng-model="$ctrl.newEvent.endMM" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" ng-click="$ctrl.save(addTodoForm)">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>