<div class="row show-grid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-xs-6 col-sm-5 col-md-5">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.showCurrentWeek()">Current week</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.showToday()">Today</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.showWeekCheckedDay()">Week</button>
                </div>
            </div>
            <div class="col-xs-3 col-sm-5 col-md-5">
                <h3 class="title-calendar" ng-bind="$ctrl.titleCalendar"></h3>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.showPreviousEvents()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.showNextEvents()">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <calendar-day
                    ng-repeat="dayEvents in $ctrl.showingEvents"
                    display-week="$ctrl.displayWeek"
                    day-events="dayEvents"
                    show-day="$ctrl.showDay(checkedDay)"
                    checked-day="$ctrl.checkedDay"
                    class="calendar-day-style">
                </calendar-day>
            </div>
        </div>
    </div>
    <event-add-form
        update-list-events="$ctrl.updateListEvents(day)">
    </event-add-form>
</div>