@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
}

.show-grid {
    margin-top: 20px;
    margin-bottom: 40px;

    .title-calendar {
        text-align: center;
    }
}