<div class="label label-primary event-label" ng-click="$ctrl.infoIsShow = !$ctrl.infoIsShow">
        <span ng-bind="$ctrl.event.start_time | date:'HH:mm'"></span>
        <span ng-bind="$ctrl.event.title"></span>
</div>
<event-info event="$ctrl.event" remove-event="$ctrl.deleteEvent()" ng-show="$ctrl.infoIsShow"></event-info>