.remove-event-btn {
    display: block;
    float: right;
    cursor: pointer;
}

.event-label {
    margin-top: 5px;
    display: block;
    padding: 5px;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}