<div class="container-day-events" ng-class="{'day-events-columns': $ctrl.displayWeek}">
    <div class="date-header-events" ng-click="$ctrl.showCheckedDay()">
        <span ng-bind="$ctrl.dayEvents.dateOfDay | date:'EEE/dd'"></span>
    </div>
    <div class="add-event-label" data-toggle="modal" data-target="#myModal" ng-click="$ctrl.sendDay()">
        <span class="glyphicon glyphicon-plus"></span>
    </div>
    <div class="container-events">
        <event
            ng-repeat="event in $ctrl.dayEvents.events | orderBy : 'start_time'"
            event="event"
            remove-event="$ctrl.removeEvent(event)">
        </event>
    </div>
</div>