.container-day-events {
    .date-header-events {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        background-color: #5cb85c;
        padding: 10px;
        cursor: pointer;
        overflow-x: hidden;
    }
    .container-events {
        height: 450px;
        width: 100%;
        overflow-y: auto;
        padding: 5px;
        font-size: 16px;
    }
}

.day-events-columns {
    width: 14.28%;
    float: left;
    border: 1px solid #e2e2e2;
    border-left: 0;
}

.clearfix {
    clear: both;
}

.calendar-day-style:first-child .day-events-columns {
    border-left: 1px solid #e2e2e2;
}

.show-form-btn {
    text-align: center;
    cursor: pointer;
}

.add-event-label {
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    padding: 5px;
    display: block;
    margin: 0;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
}